ShopBanHang/MVCShop/Service References/ServiceReferenceUser/ServiceUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57383/ServiceUser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57383/ServiceUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57383/ServiceUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopBanHang" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUser_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_All_InputMessage">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_KTraUser_InputMessage">
    <wsdl:part name="parameters" element="tns:KTraUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_KTraUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:KTraUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_TimEDitUser_InputMessage">
    <wsdl:part name="parameters" element="tns:TimEDitUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_TimEDitUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimEDitUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_XoaUser_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaUser" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_XoaUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUser">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/Login" message="tns:IServiceUser_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/LoginResponse" message="tns:IServiceUser_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="All">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/All" message="tns:IServiceUser_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/AllResponse" message="tns:IServiceUser_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KTraUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/KTraUser" message="tns:IServiceUser_KTraUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/KTraUserResponse" message="tns:IServiceUser_KTraUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/AddUser" message="tns:IServiceUser_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/AddUserResponse" message="tns:IServiceUser_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimEDitUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/TimEDitUser" message="tns:IServiceUser_TimEDitUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/TimEDitUserResponse" message="tns:IServiceUser_TimEDitUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/EditUser" message="tns:IServiceUser_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/EditUserResponse" message="tns:IServiceUser_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/XoaUser" message="tns:IServiceUser_XoaUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/XoaUserResponse" message="tns:IServiceUser_XoaUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUser" type="tns:IServiceUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="All">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTraUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/KTraUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimEDitUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/TimEDitUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaUser">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/XoaUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUser">
    <wsdl:port name="BasicHttpBinding_IServiceUser" binding="tns:BasicHttpBinding_IServiceUser">
      <soap:address location="http://localhost:57383/ServiceUser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>