ShopBanHang/ShopWinForm/Service References/ServiceReferenceCTPhieuNhapCustom/ServiceCTPhieuNhapCustom1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57383/ServiceCTPhieuNhapCustom.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopBanHang" />
  <xs:element name="CTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="CTPhieuNhapResult" nillable="true" type="q1:ArrayOfCTPhieuNhapCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>