ShopBanHang/ShopWinForm/Service References/ServiceReferenceDanhMucSP/ServiceDanhMucSP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57383/ServiceDanhMucSP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopBanHang" />
  <xs:element name="All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="AllResult" nillable="true" type="q1:ArrayOfDanhMucSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDanhmuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDanhmucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemDanhmucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDanhmuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dmht" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="madm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tendm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDanhmucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaDanhmucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaDanhmuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaDanhmucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaDanhmucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>