ShopBanHang/ShopWinForm/Service References/ServiceNhapHang/ServiceNhapHang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57383/ServiceNhapHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopBanHang" />
  <xs:element name="All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="AllResult" nillable="true" type="q1:ArrayOfWFNhapHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="CTPhieuNhapResult" nillable="true" type="q2:ArrayOfWFCTPhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaPNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemPNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCTPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapn" type="xs:int" />
        <xs:element minOccurs="0" name="masp" type="xs:int" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCTPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemCTPNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaPN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMaPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="LayMaPNResult" nillable="true" type="q3:WFNhapHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>