ShopBanHang/MVCShop/Service References/ServiceReferenceDanhMucSP/ServiceDanhMucSP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDanhMucSP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57383/ServiceDanhMucSP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57383/ServiceDanhMucSP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57383/ServiceDanhMucSP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopBanHang" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDanhMucSP_All_InputMessage">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_ThemDanhmuc_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemDanhmuc" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_ThemDanhmuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemDanhmucResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_SuaDanhmuc_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaDanhmuc" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_SuaDanhmuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaDanhmucResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_XoaDanhmuc_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaDanhmuc" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_XoaDanhmuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaDanhmucResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDanhMucSP">
    <wsdl:operation name="All">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/All" message="tns:IServiceDanhMucSP_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/AllResponse" message="tns:IServiceDanhMucSP_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemDanhmuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/ThemDanhmuc" message="tns:IServiceDanhMucSP_ThemDanhmuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/ThemDanhmucResponse" message="tns:IServiceDanhMucSP_ThemDanhmuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaDanhmuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/SuaDanhmuc" message="tns:IServiceDanhMucSP_SuaDanhmuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/SuaDanhmucResponse" message="tns:IServiceDanhMucSP_SuaDanhmuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaDanhmuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/XoaDanhmuc" message="tns:IServiceDanhMucSP_XoaDanhmuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/XoaDanhmucResponse" message="tns:IServiceDanhMucSP_XoaDanhmuc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDanhMucSP" type="tns:IServiceDanhMucSP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="All">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDanhmuc">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/ThemDanhmuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaDanhmuc">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/SuaDanhmuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDanhmuc">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/XoaDanhmuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDanhMucSP">
    <wsdl:port name="BasicHttpBinding_IServiceDanhMucSP" binding="tns:BasicHttpBinding_IServiceDanhMucSP">
      <soap:address location="http://localhost:57383/ServiceDanhMucSP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>