ShopBanHang/MVCShop/Service References/ServiceReferenceDatHang/ServiceDatHang2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopBanHang" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopBanHang" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDonHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonHang" nillable="true" type="tns:DonHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonHang" nillable="true" type="tns:ArrayOfDonHang" />
  <xs:complexType name="DonHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDonHang" type="xs:int" />
      <xs:element minOccurs="0" name="MaTrangThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TriGiaDH" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonHang" nillable="true" type="tns:DonHang" />
</xs:schema>