ShopBanHang/ShopWinForm/Service References/ServiceReferenceNhapHang/ServiceNhapHang1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopBanHang" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopBanHang" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWFNhapHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WFNhapHang" nillable="true" type="tns:WFNhapHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWFNhapHang" nillable="true" type="tns:ArrayOfWFNhapHang" />
  <xs:complexType name="WFNhapHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaPN" type="xs:int" />
      <xs:element minOccurs="0" name="NgayNhap" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WFNhapHang" nillable="true" type="tns:WFNhapHang" />
  <xs:complexType name="ArrayOfWFCTPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WFCTPhieuNhap" nillable="true" type="tns:WFCTPhieuNhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWFCTPhieuNhap" nillable="true" type="tns:ArrayOfWFCTPhieuNhap" />
  <xs:complexType name="WFCTPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MaPN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaSP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WFCTPhieuNhap" nillable="true" type="tns:WFCTPhieuNhap" />
</xs:schema>