ShopBanHang/ShopWinForm/Service References/ServiceReferenceUser/ServiceUser2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57383/ServiceUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopBanHang" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="AllResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTraUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTraUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KTraUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoTenUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoDienThoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quyen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimEDitUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimEDitUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShopBanHang" minOccurs="0" name="TimEDitUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userht" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoTenUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoDienThoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>